@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --cor1: #7D3305;
    --cor2: #FD9656;
    --cor_principal: #FC670A;
    --cor3: #7D4A2A;
    --cor4: #c95208;
    --cor_Branco: #FFFFFF;
    --cor_Preto: #000000;
}

*{
    box-sizing: border-box;
}

html{
    background-image: url('pizza.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body{
    margin: auto;
    padding: 0px;
    display: grid;
    grid-template-areas: 'h h h h h h'
                       'n n n n n n'
                       '. m m m .'
                       '. fr fr fr .'
                       'f f f f f ';
}

header{
    grid-area: 'h';
    padding-top: 100px;
    background-color: var(--cor4);
    background-image: linear-gradient(to bottom, var(--cor4),var(--cor1));
    text-align: center;
}

header h1{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.3em;
    margin: 0px auto;
}

header picture > img{
    width: 300px;
}

h1 .coroa{
    position: relative;
    top: 19.9987px;
    width: 100px;
}

nav{
    grid-area: 'n';
    background-color: var(--cor1);
    display: grid;
    position: sticky;
    top: 0px;
}


.drop{
    background-image: url(menu.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    display: grid;
}

.navOver{
    background-image: url(menu_open.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    display: grid;
}

.drop-content{
    display: grid;
}

.drop-content a{
    display: none;
}

.navOver .drop-content{
    background-color: white;
    z-index: 1;
    margin-top: 50px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px black;
}

.navOver .drop-content a{
    display: inline;
    padding: 10px;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-size: 1.3em;
}

.linkOver{
    background-color: rgb(255, 255, 255,0.8);
    box-shadow: 0px 0px 5px black;
    color: red;
}

.linkClick{
    color: black;
}
article{
    font-family: 'Roboto',sans-serif;
    font-size: 1.3em;
    background-color: rgb(225, 225, 225,0.8);
    text-align: justify;
    text-justify: inter-word;
}

.home{
    padding: 10px;
    grid-area: home;
}

.sobre{
    padding: 10px;
    grid-area: sobre;
}

main{
    grid-area: 'm';
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    display: grid;
    grid-template-areas: 'home'
                          'sobre';
}

main.cardapio{
    grid-area: 'm';
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(225, 225, 225,0.8);
}
main.cardapio > span.pizza{
    height: 300px;
    width: 95%;
    margin: 5px auto;
    box-shadow: 0px  0px 10px black;
    transition-duration: 2s;
}

h2.sabor > p.ingr{
    display: none;
}

main.cardapio > span.cardOver{
    height: 300px;
    width: 95%;
    margin: 5px auto;
    box-shadow: 0px  0px 10px black;
    transform: rotatex(360deg);
}

main.cardapio > span.cardOver > h2.sabor > p.ingr{
    display: block;
    background-color: rgb(225, 225, 225,0.8);
}

#Calabresa{
    background-image: url(calabresa.png);
    background-size: cover;
}

#Quatro_queijos{
    background-image: url(queijo.png);
    background-size: cover;
}

#Cogumelos{
    background-image: url(cogumelos.png);
    background-size: cover;
}


#Marguerita{
    background-image: url(marguerita.png);
    background-size: cover;
}

form{
    grid-area: 'fr';
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 60vw;
    background-color:rgba(255, 255, 255, 0.5);
}
fieldset{
    padding: 5px 0px;
    width: 55vw;
    margin: 10px auto;
    text-align: left;
    display: grid;
    grid-template-rows: auto auto auto;
}

 label{
     max-width: 55vw;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 0px;
}

label > input{
    max-width: 55vw;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 0px;
}

label > textarea{
    max-width: 55vw;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 0px;
}

.default{
    background-color: rgba(255, 255, 255, 0.67);
    border: none;
}

.focus{
    background-color: rgba(255, 255, 255, 0.67);
    border:  3px red solid ;
}

footer{
    grid-area: 'f';
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: var(--cor1);
    font-family: 'Roboto',sans-serif;
    display: grid;
    grid-template-areas: 'p . .'  
                          'face insta topo';
}

footer p{
    font-family: 'Roboto',sans-serif;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;    
    grid-area: p;
}



footer a{
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    font-family: 'Roboto',sans-serif;
    text-decoration: none;
    color: black;
}

.face{
    grid-area: face;
    color: black;
    font-size: 40px;
}
.face a>i{
    max-height: 30px;
    max-height: 30px;
}

.insta{
    grid-area: insta;
    color: black;
    font-size: 40px;
}

.insta>a>i{
    max-height: 30px;
    max-height: 30px;
}
.topo{
    grid-area: topo;
    text-align: center;
    padding: 10px;
}

.topo>a{
    max-height: 30px;
    max-height: 30px;
}

.footOver {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    box-shadow: 0px 0px 10px  black ;
}



